.row{
    align-items: center;
    display: flex;
    justify-content: center;
  
}
.activeColor{
    padding: 8px;
    height: 40px;
    width: 70%;
    border: 3px solid black;
    cursor: pointer;
}
.pointer{
    cursor: pointer;
}